body {
   background-color: #000000;
   min-width: 280px;
   margin: 0;
   display: block;
}
.root {position: relative;}

.scroll {overflow: hidden !important;}

.main {min-height: 100vh;}

.hero_cover {
   height: 100vh;
   position: relative;
   overflow: hidden;
}
.hero_visual {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    /* transform: translate(0px, 0px); */
   }
   .video-d {
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
   .vidsual_video {
      max-width: 100%;
    border: 0;
    vertical-align: top;
   }
   .video-m {display: none;}

/* hero1 button & span  */
.hero_button{
   position: absolute;
   overflow: visible;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
}
   .btn_play {
      width: 70px;
      height: 70px;
      background-color: rgba(5, 20, 31, 0.4); 
      border-radius: 50%;
   } 
   .hero_button span {
      font-size: 16px;
      display: block;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 50%);
      color: rgb(255,255,255); 
      white-space: nowrap;
      text-transform: uppercase;
      bottom: -25px;
   }
 .hero_text {
   opacity: 1;
   visibility: inherit;
   position: absolute;
   bottom: 8%;
   /* left: 50%; */
   width: 100%;
   padding-left: 1.5rem;
   padding-right: 1.5rem;
   color: #fff;
   text-align: center;
 }
   .eyebrow {
      margin-bottom: 20px;
      font-size: 16px;
      display: block;
      color: rgb(246, 242, 237);
      /* text-transform: uppercase; */
      font-weight: 700;
      letter-spacing: 2.4px;
      line-height: 22.4px;
   }
   .hero_text h2 {
      font-size: 42px;
      line-height:58.8px;
      margin: 0;
      padding: 0;
      font-weight: 700;
   }
   .hero_text p {
      margin-top: 10px;
      margin-bottom: 20px;
      font-size: 20px;
      color:rgb(255,255,255);
      opacity: 0.6;
      font-weight: 100;
      line-height: 32px;
   }
   .btn-guide-arrow {
      display: block;
      transform: translate3d(-50%, 0, 0);
      animation: arrow-down infinite 1.5s;
      cursor: pointer;
      position: absolute;
      bottom: 3%;
      z-index: 1;
      left: 50%;
      width: 40px;
      height: 40px;
       background-image: url(../img/button_down_wht.png);
     }
         /* Arrow-down 애니메이션 적용 */
      @keyframes arrow-down {
       0% {
         -webkit-transform: translate3d(-50%, 0, 0);
                 transform: translate3d(-50%, 0, 0); }
       30% {
         -webkit-transform: translate3d(-50%, 20%, 0);
                 transform: translate3d(-50%, 20%, 0); }
       60% {
         -webkit-transform: translate3d(-50%, 0, 0);
                 transform: translate3d(-50%, 0, 0); } 
               }
     
/* hero 2 page  */
.sect-space {
   display: block;
   position: relative;
}
.hero_2_kn {
   /* transform: translate(0px, 0px); */
    inset: 0px auto auto 0px;
    margin: 0px;
    max-width: 1920px;
    width: 1920px;
    max-height: 1080px;
    height: 1080px;
    padding: 0px;
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.hero_2_visual{
   /* transform: translate(0px, -16px); */
   /* height: 140%;
   top: -20%; */
   position: absolute;
   left: 0;
   right: 0;
   bottom: 0;
   width: 100%;
}
/* .video-d {                main 1 과 똑같
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.vidsual_video {
   max-width: 100%;
 border: 0;
 vertical-align: top;
}
.video-m {display: none;} */

.hero_2_cont {   
   opacity: 1;
    visibility: inherit;
    position: relative;
    width: 100%;
    padding: 0 15px;
    color: #fff;
    text-align: center;
}
   /* kn kn_logo 합치기 ? */
   .kn{
    position: relative;
    margin-top: 100px;
    margin-bottom: 140px;
    }
   .kn_logo {
      max-width: 1060px;
      margin: 0 auto;
      margin-left: 525px;
      margin-right: 525px;
   }
   .kn_title {
      font-size: 42px;
      line-height: 58.8px;
      font-weight: 700;
   }